language: python
sudo: false
matrix:
  include:
    - python: '2.7'
      env: TOXENV=py27
    - python: '3.6'
      env: TOXENV=py36
    - python: '3.6'
      env: TOXENV=cov
before_install:
  - python --version
  - uname -a
  - lsb_release -a
install:
  - pip install tox
  - virtualenv --version
  - pip --version
  - tox --version
script:
  - tox -v
cache: pip
notifications:
  email: false
